:root {
    --white: #ffffff;
    --black: #000000;

    --darkOrange: #612f23;

    --lightGreen: #e1f39a;
    --darkGreen: #6F7B47;
    --lightGray: #D9D9D9;
    --lightGray2: #aaaaaa;
    --darkGray: #272727;

    --lightBlue: #E3ECEE;
    --greenLight: #CCD5AE;
    --blue: #3C8CBA;
    --orange: #DB8A8C;

    /* --lightBlue: #E3ECEE;
    --green: #CCD5AE;
    --blue: #0590DF;
    --orange: #E76F51; */

}

* {
    font-style: 'Roboto', sans-serif;
}

.logo {
    width: 150px;
    height: 100px;
    background-image: url(../images/logo.png);
    background-size: cover;
}

.tip-day {
    font-size: 20px;
    font-weight: 400;
}

.icon {
    height: 3rem;
    min-width: 20px;
}

.currency-output {
    color: var(--orange);
    font-weight: 500;
    background-color: var(--lightBlue);
}

.balance {
    font-size: 32px;
    font-weight: 700;
    color: var(--greenLight);
    text-shadow: -1px 0 var(--darkGreen), 0 1px var(--darkGreen), 1px 0 var(--darkGreen), 0 -1px var(--darkGreen);
}

.iconMain {
    display: table-cell;
    vertical-align: middle;
    text-align: center;
    border-radius: 10px;
    width: 50px;
    height: 50px;
    background-color: var(--lightGreen);
}

.closeBtn {
    display: table-cell;
    vertical-align: middle;
    text-align: right;
    width: 50px;
    height: 50px;
}

.iconIncome {
    color: var(--darkGreen);
}

.iconClose {
    color: var(--lightGray2);
}

.iconClose:hover {
    color: var(--darkGray)
}

.footer {
    background-color: var(--lightGray);
}

.test {
    background-color: #DB8A8C;
}

.test1 {
    background-color: #8adbc9;
}

.test2 {
    background-color: #dbb18a;
}

@media screen and (max-width: 768px) {
    /* Use flex-direction to stack the navbar, sidebar, and body */

    /* Make the sidebar stack below the body */
    .sectionT {
        order: 2;
    }

}