:root {
    --white: #ffffff;
    --black: #000000;

    --darkOrange: #D86700;
    --lightOrange: #ffd8b4;

    --lightGreen: #e1f39a;
    --darkGreen: #6F7B47;
    --lightGray: #D9D9D9;
    --lightGray2: #aaaaaa;
    --darkGray: #272727;

    --lightBlue: #E3ECEE;
    --greenLight: #CCD5AE;
    --blue: #3C8CBA;
    --orange: #DB8A8C;
}

* {
    font-style: 'Roboto', sans-serif;
}

.logo {
    width: 150px;
    height: 100px;
    background-image: url(../images/logo.png);
    background-size: cover;
    animation: float 10s ease-in-out infinite;
}

@keyframes float {
    0% {
        transform: translatey(0px);
    }

    50% {
        transform: translatey(-20px);
    }

    100% {
        transform: translatey(0px);
    }
}

.title {
    font-weight: 700;
}

.tip {
    font-size: 20px;
    font-weight: 400;
}

.paddingLeft {
    padding: 2rem 3rem 2rem 10rem;
}

.sectionT {
    background-color: var(--lightBlue);
}

.sectionIP {
    padding: 2rem 10rem 2rem 3rem;
}

.icon {
    height: 3rem;
    min-width: 20px;
    background-color: var(--lightBlue);
    border-radius: 10px;
    padding: 8px;
}

.incomeBG {
    background-color: var(--greenLight)
}

.expenseBG {
    background-color: var(--lightOrange)
}

.eleBorder {
    border: 1px solid var(--blue);
    border-radius: 5px;
}

.button {
    border-radius: 5px;
}

.button:hover {
    color: var(--blue);
    border: 2px solid var(--blue);
    background-color: var(--lightBlue);
}

h4 {
    text-align: center;
}

.divider {
    margin: 50px 0px;
    border: 1px solid var(--blue);
}

.reveal {
    background-color: var(--lightBlue);
    border: 3px solid var(--blue);
    border-radius: 10px;
}

.currency-output {
    color: var(--darkOrange);
    font-weight: 500;
    text-align: center;
}

.balance {
    font-size: 32px;
    font-weight: 700;
    color: var(--greenLight);
    text-shadow: -1px 0 var(--darkGreen), 0 1px var(--darkGreen), 1px 0 var(--darkGreen), 0 -1px var(--darkGreen);
}

.deleteBtn {
    background-color: var(--lightGray2);
    border-radius: 5px;
    padding: 5px;
}

.deleteBtn:hover {
    background-color: var(--black);
    color: var(--white)
}

.iconIncome {
    color: var(--darkGreen);
}

.footer {
    padding: 12px;
    background-color: var(--lightGray);
}

@media screen and (max-width: 768px) {
    /* Use flex-direction to stack the navbar, sidebar, and body */

    /* Make the sidebar stack below the body */
    .sectionT {
        order: 2;
    }

    .paddingLeft {
        padding: 3rem;
    }

    .sectionIP {
        padding: 0rem 3rem 3rem 3rem;
    }

    h4 {
        font-size: 20px;
        font-weight: 500;
    }

    .header-block {
        background-color: var(--lightBlue);
        border-radius: 10px;
        padding-bottom: 15px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .title{
        text-align: center;
    }
    .tip{
        text-align: center;
    }

    .icon {
        height: 40px;
        width: 40px;
        background-color: var(--lightBlue);
        border-radius: 10px;
    }

}